注册
<form method = 'post' action = '/login'>
    <input name = 'login_u' type = 'text'>
    <input name = 'login_p' type = 'password'>
    <button>登陆</button>
</form>
<form method = 'post' action = '/register'>
    <input name = 'register_u' type = 'text'>
    <input name = 'register_p' type = 'password'>
    <button>注册</button>
</form>
